<nav class="navbar navbar-expand-sm bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="'home'">ThreePage</a>
        <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNavDropdown" 
            aria-controls="navbarNavDropdown" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-lg-0">
                <ng-container *ngFor="let item of menus" >
                    <li class="nav-item">
                        <button 
                            [disabled]="isCatActive(item.routerName)"
                            class="nav-link" 
                            [routerLink]="item.routerName"
                            [routerLinkActive]="'active'"
                            [routerLinkActiveOptions]="{exact: true}">
                            <i [class]="item.icon"></i>
                            {{ item.routerName }}
                        </button>
                    </li>
                </ng-container>
            </ul>

            <button class="nav-link text-white mt-sm-0 mt-4" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </button>
        </div>
    </div>
</nav>